:root {
  --font-family: "Inter", sans-serif;
  --content-width: 1500px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
  --blue-color: #2264D1;
  --aqua-color: #76A9FF;
  --grey-color: #787885;
  --red-color: #F44336;
  --green-color: #37833B;
  --lime-color: #ECF7ED;
  --black-color: #19191D;
  --dark-color: #000;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */
@font-face {
  font-family: "Inter";
  src: url("../fonts/../fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand";
  src: url("../fonts/../fonts/Quicksand-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand";
  src: url("../fonts/../fonts/Quicksand-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand";
  src: url("../fonts/../fonts/Quicksand-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.btn {
  position: relative;
  padding: 8px 12px;
  font-family: "Quicksand";
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.0075em;
  color: var(--blue-color);
  border-radius: 4px;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  white-space: nowrap;
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border: 1px solid #9DC2FF;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  -webkit-transition: border-color 0.3s linear;
  -o-transition: border-color 0.3s linear;
  transition: border-color 0.3s linear;
}
.btn:hover {
  -webkit-box-shadow: 0px 2px 4px rgba(27, 78, 163, 0.2), 0px 4px 8px rgba(41, 121, 255, 0.2);
  box-shadow: 0px 2px 4px rgba(27, 78, 163, 0.2), 0px 4px 8px rgba(41, 121, 255, 0.2);
}
.btn:hover::after {
  border-color: transparent;
}

.link {
  font-size: 20px;
  line-height: 158%;
  letter-spacing: 0.004em;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.header__link {
  color: #5A5B6A;
}
.header__reg {
  color: #5A5B6A;
}
.header__form {
  position: relative;
}
.header__input {
  padding: 8px 44px;
  border-radius: 99px;
  background-color: #EDEDF0;
  outline: none;
  width: 600px;
  font-weight: 400;
  font-size: 20px;
  line-height: 158%;
  letter-spacing: 0.0075em;
  color: #19191D;
}
@media (max-width: 768px) {
  .header__input {
    width: auto;
  }
}
@media (max-width: 576px) {
  .header__input {
    width: 300px;
  }
}
.header__search {
  background-image: url("../img/search.svg");
  position: absolute;
  top: 50%;
  left: 8px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
}
.header__category {
  color: var(--blue-color);
}
.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__sign {
  margin-right: 21px;
}
@media (max-width: 1024px) {
  .header__sign {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.header__cart {
  position: relative;
  margin-right: 16px;
}
@media (max-width: 1024px) {
  .header__cart {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.header__cart span {
  position: absolute;
  top: -4px;
  right: -4px;
  font-family: "Quicksand";
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: var(--light-color);
  background-color: var(--red-color);
  border-radius: 99px;
  width: 20px;
  height: 20px;
  text-align: center;
  padding-left: 1px;
}

.nav {
  margin-top: 20px;
}
@media (max-width: 1024px) {
  .nav {
    display: none;
  }
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.nav__item:not(:last-child) {
  margin-right: 20px;
}
.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  letter-spacing: 0.018em;
  color: #787885;
}
.nav__link--active {
  color: #2979FF;
}

@media (max-width: 1024px) {
  .burger {
    --burger-width: 30px;
    --burger-height: 16px;
    --burger-line-height: 2px;
    position: relative;
    z-index: 1000;
    border: none;
    padding: 0;
    width: var(--burger-width);
    height: var(--burger-height);
    color: #000;
    background-color: transparent;
    cursor: pointer;
  }
  .burger::before, .burger::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: var(--burger-line-height);
    background-color: currentColor;
    -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  .burger::before {
    top: 0;
  }
  .burger::after {
    top: calc(100% - var(--burger-line-height));
  }
  .burger__line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: var(--burger-line-height);
    background-color: currentColor;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  .burger--active::before {
    top: 50%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  .burger--active::after {
    top: 50%;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  .burger--active .burger__line {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
}
.menu--active {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100vh;
  width: 100%;
  background-color: var(--light-color);
}

.shop {
  position: relative;
  padding-bottom: 96px;
}
.shop__inner {
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
}
.shop__sidebar {
  -ms-grid-column-span: 3;
  grid-column: 3 span;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
@media (max-width: 1024px) {
  .shop__sidebar {
    background-color: var(--light-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -ms-grid-column-span: 12;
    grid-column: 12 span;
    width: 100%;
    height: 100vh;
  }
}
.shop__sidebar--active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.shop__title {
  position: relative;
  display: inline-block;
  padding: 8px 60px 8px 72px;
  border: 1px solid #9DC2FF;
  border-radius: 8px;
  font-family: "Quicksand";
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: #2264D1;
}
@media (max-width: 1280px) {
  .shop__title {
    padding: 8px 45px 8px 45px;
  }
}
.shop__title::before {
  content: "";
  position: absolute;
  left: 12px;
  top: 50%;
  width: 32px;
  height: 32px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/filter.svg");
}
.shop__main {
  -ms-grid-column-span: 9;
  grid-column: 9 span;
}
@media (max-width: 1024px) {
  .shop__main {
    -ms-grid-column-span: 12;
    grid-column: 12 span;
  }
}
.shop__items {
  -webkit-box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24), 0px 2px 4px rgba(90, 91, 106, 0.24);
  box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24), 0px 2px 4px rgba(90, 91, 106, 0.24);
  border-radius: 8px;
  padding: 16px;
}
.shop__start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.shop__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .shop__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}
.shop__select {
  margin: 0;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.018em;
  color: #19191D;
}
.shop__select--blocked {
  margin-left: 16px;
  border: 1px solid #B4B4BB;
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.018em;
  color: var(--grey-color);
  margin-top: 6px;
  padding: 7px 12px;
}
@media (max-width: 768px) {
  .shop__select--blocked {
    margin-left: 0;
  }
}
.shop__option {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.018em;
  color: #19191D;
}
.shop__option--blocked {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.018em;
  color: var(--grey-color);
}
.shop__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 1440px) {
  .shop__right {
    margin-top: 10px;
  }
}
.shop__btns {
  background-color: #EBF2FF;
  border-radius: 4px;
  margin-right: 24px;
}
@media (max-width: 576px) {
  .shop__btns {
    margin: 0;
    margin-bottom: 20px;
  }
}
.shop__button {
  padding: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.018em;
  color: #5A5B6A;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 576px) {
  .shop__button {
    padding: 13px;
  }
}
.shop__button--active {
  font-weight: 500;
  color: var(--blue-color);
  -webkit-box-shadow: 0px 1px 2px rgba(27, 78, 163, 0.24), 0px 2px 4px rgba(41, 121, 255, 0.24);
  box-shadow: 0px 1px 2px rgba(27, 78, 163, 0.24), 0px 2px 4px rgba(41, 121, 255, 0.24);
  border-radius: 4px;
  background-color: var(--light-color);
  fill: var(--blue-color);
}
.shop__button-icon {
  opacity: 0.5;
  padding: 9px 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.018em;
  color: #5A5B6A;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.shop__button-icon--icons {
  opacity: 1;
  font-weight: 500;
  color: var(--blue-color);
  -webkit-box-shadow: 0px 1px 2px rgba(27, 78, 163, 0.24), 0px 2px 4px rgba(41, 121, 255, 0.24);
  box-shadow: 0px 1px 2px rgba(27, 78, 163, 0.24), 0px 2px 4px rgba(41, 121, 255, 0.24);
  border-radius: 4px;
  background-color: var(--light-color);
  fill: var(--blue-color);
}
.shop__button--grid {
  padding: 4px 20px;
}
.shop__button--line {
  padding: 8px 20px;
}
.shop__pos {
  background-color: #EBF2FF;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.shop__btn-icon {
  width: 28px;
  height: 28px;
}
.shop__btn-icon--active {
  opacity: 1;
}
.shop__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 40px;
}
.shop__tags-title {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.018em;
  color: #19191D;
}
.shop__tag {
  background-color: #EDEDF0;
  border-radius: 99px;
  margin-left: 8px;
  padding: 6px 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  letter-spacing: 0.018em;
  color: #4A4B57;
}
@media (max-width: 1024px) {
  .shop__tag {
    margin-top: 10px;
  }
}
.shop__middle {
  margin-top: 16px;
}
.shop__middle--line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-animation-name: fadeIns;
  animation-name: fadeIns;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.shop__middle--grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  gap: 16px;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
@media (max-width: 1440px) {
  .shop__middle {
    gap: 16px;
  }
}
@media (max-width: 1024px) {
  .shop__middle {
    gap: 16px;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIns {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIns {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
.shop__item {
  -ms-grid-column-span: 3;
  grid-column: 3 span;
  -webkit-transition: -webkit-box-flex 0.3s;
  transition: -webkit-box-flex 0.3s;
  -o-transition: flex 0.3s;
  transition: flex 0.3s;
  transition: flex 0.3s, -webkit-box-flex 0.3s, -ms-flex 0.3s;
}
.shop__item--line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .shop__item--line {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media (max-width: 1280px) {
  .shop__item {
    -ms-grid-column-span: 4;
    grid-column: 4 span;
  }
}
@media (max-width: 768px) {
  .shop__item {
    -ms-grid-column-span: 6;
    grid-column: 6 span;
  }
}
@media (max-width: 576px) {
  .shop__item {
    -ms-grid-column-span: 12;
    grid-column: 12 span;
  }
}
.shop__item:hover {
  -webkit-box-shadow: 0px 2px 4px rgba(59, 69, 123, 0.2), 0px 4px 8px rgba(92, 107, 192, 0.2);
  box-shadow: 0px 2px 4px rgba(59, 69, 123, 0.2), 0px 4px 8px rgba(92, 107, 192, 0.2);
  border-radius: 8px;
}
.shop__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 50%;
  padding: 12px 16px 12px 16px;
}
.shop__content-title {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.0275em;
  color: var(--black-color);
}
@media (max-width: 1440px) {
  .shop__content-title {
    font-size: 12px;
  }
}
.shop__content-descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.018em;
  color: var(--grey-color);
}
@media (max-width: 1440px) {
  .shop__content-descr {
    font-size: 12px;
  }
}
.shop__content-button {
  padding: 4px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.018em;
}
.shop__content-bottom {
  margin-top: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 1280px) {
  .shop__content-bottom {
    margin-top: 0;
    margin-bottom: 10px;
  }
}
.shop__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.shop__info {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.shop__image {
  max-height: 224px;
}
.shop__star {
  margin-bottom: 4px;
}
.shop__price {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.87);
}
@media (max-width: 1440px) {
  .shop__price {
    font-size: 20px;
  }
}
.shop__about {
  font-family: "Roboto";
  padding: 4px 6px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  border-radius: 4px;
}
.shop__about--pink {
  color: #C23564;
  background-color: #FDEDF2;
}
.shop__about--green {
  color: var(--green-color);
  background-color: var(--lime-color);
}
.shop__total {
  margin-left: 8px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.1px;
  color: #5E6366;
}
.shop__bottom {
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  gap: 16px;
}
.shop__bottom-item {
  padding: 8px 16px 24px 16px;
  -ms-grid-column-span: 4;
  grid-column: 4 span;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #EDEDF0;
  border-radius: 8px;
}
@media (max-width: 1024px) {
  .shop__bottom-item {
    -ms-grid-column-span: 6;
    grid-column: 6 span;
  }
}
@media (max-width: 576px) {
  .shop__bottom-item {
    -ms-grid-column-span: 12;
    grid-column: 12 span;
  }
}
.shop__bottom-title {
  margin: 0;
  font-family: "Quicksand";
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.0075em;
  color: rgba(0, 0, 0, 0.87);
}
.shop__bottom-descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  letter-spacing: 0.018em;
  color: #5A5B6A;
}
.shop__menu {
  position: relative;
  margin-left: 32px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}
.shop__menu::before {
  content: "";
  position: absolute;
  left: -32px;
  top: 8px;
  width: 24px;
  height: 24px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/arrow-close.svg");
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.shop__menu--active::before {
  content: "";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.shop__submenu {
  position: relative;
  margin-left: 15px;
  overflow: hidden;
  cursor: pointer;
  max-height: 0;
  opacity: 0;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.shop__submenu--active {
  opacity: 1;
  max-height: 500px;
  overflow: visible;
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.shop__submenu--opened::before {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.shop__submenu::before {
  content: "";
  position: absolute;
  left: -32px;
  top: 0;
  width: 24px;
  height: 24px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/arrow-close.svg");
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.shop__submenu-level2 {
  overflow: hidden;
  position: relative;
  margin-left: 15px;
  cursor: pointer;
  max-height: 0;
  opacity: 0;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.shop__submenu-level2--active {
  opacity: 1;
  max-height: 500px;
  overflow: visible;
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.shop__submenu-level2--opened::before {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.shop__submenu-level2::before {
  content: "";
  position: absolute;
  left: -32px;
  top: 0;
  width: 24px;
  height: 24px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/arrow-close.svg");
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.shop__submenu-level2:nth-child(3)::before {
  content: "";
  position: absolute;
  left: -32px;
  top: 8px;
  width: 24px;
  height: 24px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/arrow-close.svg");
}
.shop__submenu-level2:nth-child(5)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
}
.shop__submenu-level3 {
  overflow: hidden;
  margin-left: 15px;
  max-height: 0;
  opacity: 0;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.shop__submenu-level3--active {
  opacity: 1;
  max-height: 500px;
  overflow: visible;
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.shop__sidebar-list {
  margin-top: 32px;
}
.shop__sidebar-content {
  margin-left: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.shop__sidebar-item {
  margin-bottom: 10px;
  padding: 8px;
}
.shop__sidebar-item--active {
  background-color: var(--blue-color);
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  max-width: 304px;
}
.shop__sidebar-sublist {
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.shop__sidebar-btn {
  font-family: "Roboto";
  font-weight: 400;
  position: relative;
  text-align: left;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.022em;
  color: #19191D;
  width: calc(100% - 75px);
  padding: 10px 12px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24), 0px 2px 4px rgba(90, 91, 106, 0.24);
  box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24), 0px 2px 4px rgba(90, 91, 106, 0.24);
}
@media (max-width: 1280px) {
  .shop__sidebar-btn {
    font-size: 14px;
    width: 100%;
  }
}
.shop__sidebar-btn--active {
  font-family: "Inter";
  font-weight: 500;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.shop__sidebar-btn::after {
  content: "";
  position: absolute;
  right: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 24px;
  width: 24px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/sidebar-btn-open.svg");
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.shop__sidebar-btn--active::after {
  content: "";
  position: absolute;
  right: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 24px;
  width: 24px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/sidebar-opened.svg");
}
.shop__sidebar-text {
  margin: 0;
  margin-left: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.0275em;
  color: #19191D;
}
.shop__list-info {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  letter-spacing: 0.0275em;
  color: #19191D;
}
.shop__list-descr {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.018em;
  color: var(--grey-color);
}
.shop__list-btn {
  position: relative;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.75px;
  text-transform: capitalize;
  color: var(--blue-color);
  background: #EBF2FF;
  border-radius: 4px;
  padding: 6px 24px 6px 12px;
}
.shop__list-btn::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/btn-open.svg");
}
.shop__menu-btn {
  position: relative;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.75px;
  text-transform: capitalize;
  color: var(--blue-color);
  background: #EBF2FF;
  border-radius: 4px;
  padding: 8px 12px 8px 12px;
}

fieldset {
  padding: 0 12px 6px 12px;
  border: 1px solid #5A5B6A;
  border-radius: 4px;
}

legend {
  padding: 0 2px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: var(--grey-color);
}

.sidebar__open-btn {
  display: none;
}
@media (max-width: 1024px) {
  .sidebar__open-btn {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1001;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  .sidebar__open-btn--active {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}

.checkbox-round {
  position: relative;
  width: 18px;
  height: 18px;
  background-color: transparent;
  border-radius: 4px;
  vertical-align: middle;
  border: 2px solid #4A4B57;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.checkbox-round::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  -webkit-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.checkbox-round:checked {
  position: relative;
}
.checkbox-round:checked::after {
  background-color: var(--blue-color);
}
/*# sourceMappingURL=main.css.map */